[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=/full/path/to/dockerstack/icons/lamp.png
Name=Docker Stack Menu
Exec=bash -c "cd ~/full/path/to/dockerstack && ./dockerstack.sh"
Comment=Opens Docker Stack menu script
