[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=/full/path/to/dockerstack/icons/dockerstack.png
Name=Docker Stack Menu
Exec=bash -c "cd ~/path/to/dockerstack && ./dockerstack.sh"
Comment=Opens Docker Stack menu script
